In [1]:
import pandas as pd
import numpy as np

dev = pd.read_csv('pf_suvs_i302_1s2025.csv')

#cantidad de filas y columnas

print("Cantidad de filas y columnas:", dev.shape)

#drop la primera columna (INDEX)
dev = dev.drop(columns=['Unnamed: 0'])

#mostrar la primera fila
print("Primera fila del DataFrame:")
print(dev.head(1))

print("Cantidad de filas y columnas:", dev.shape)

#guardar el DataFrame en un archivo CSV
dev.to_csv('pf_suvs_i302_1s2025_cleaned.csv', index=False)

Cantidad de filas y columnas: (18254, 18)
Primera fila del DataFrame:
  Marca    Modelo     Año                  Versión   Color  \
0  Ford  Ecosport  2020.0  1.5 Freestyle 123cv 4x2  Blanco

  Tipo de combustible  Puertas Transmisión Motor Tipo de carrocería  \
0               Nafta      5.0      Manual   1.5                SUV

  Con cámara de retroceso Kilómetros                                 Título  \
0                      No    64000.0  Ford Ecosport 1.5 Freestyle 123cv 4x2

       Precio Moneda                                        Descripción  \
0  20500000.0      $  Descubre nuestro impresionante Ford Eco Sport ...

  Tipo de vendedor
0    concesionaria
Cantidad de filas y columnas: (18254, 17)

In [2]:
#contar cantidad de valores diferentes por columna
print("Cantidad de valores diferentes por columna:")
print(dev.nunique())

Cantidad de valores diferentes por columna:
Marca                         47
Modelo                       137
Año                           40
Versión                     2072
Color                         70
Tipo de combustible            8
Puertas                        7
Transmisión                    4
Motor                        271
Tipo de carrocería             1
Con cámara de retroceso        2
Kilómetros                  2175
Título                      2220
Precio                      2914
Moneda                         2
Descripción                12142
Tipo de vendedor               3
dtype: int64

In [3]:
#borrar columna 'Tipo de carrocería' (TODAS TIENEN EL MISMO VALOR)
dev = dev.drop(columns=['Tipo de carrocería'])

#guardar el DataFrame actualizado en un nuevo archivo CSV
dev.to_csv('pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [4]:

#cantidad de vehiculos con cada cantidad de puertas
print("Cantidad de vehículos con cada cantidad de puertas:")
print(dev['Puertas'].value_counts())

Cantidad de vehículos con cada cantidad de puertas:
Puertas
5.0        17731
4.0          399
3.0          105
2.0           10
60252.0        4
6.0            3
7.0            2
Name: count, dtype: int64

In [5]:
cleaned = pd.read_csv('pf_suvs_i302_1s2025_cleaned.csv')
#reemplzar los valores 60252 en puertas por 5
cleaned['Puertas'] = cleaned['Puertas'].replace(60252, 5)

cleaned.to_csv('pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [6]:



dev[dev['Puertas'] == 7]

cleaned['Puertas'] = cleaned['Puertas'].replace(7, 5)
cleaned.to_csv('pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [7]:

dev[dev['Puertas'] == 6]

,Marca,Modelo,Año,Versión,Color,Tipo de combustible,Puertas,Transmisión,Motor,Con cámara de retroceso,Kilómetros,Título,Precio,Moneda,Descripción,Tipo de vendedor
1593,Toyota,SW4,2018.0,4x4 SRX 2.8 TDI 6AT 7A,Blanco,Diésel,6.0,Automática,2.8,Sí,67000.0,Toyota Srx 4x4 At,48000000.0,$,Único dueño. Solo efectivo. El precio es el pu...,particular
7603,Honda,CR-V,2024.0,ex 1.5 Turbo,Blanco,Nafta,6.0,Automática,1.5,Sí,0.0,Honda Crv Ex Cvt 2wd 1.5 Turbo 190cv 5p 2024 0km,59500.0,US$,Honda NEW CR-V EX CVT 2WD 2024 0kmConcesionari...,concesionaria
12901,Toyota,SW4,2025.0,gr,NaN,Diésel,6.0,Automática,-,NaN,0.0,Toyota Sw4 Gr -2025,86000000.0,$,Con un diseño al mismo tiempo fuerte y elegant...,concesionaria

In [8]:

cleaned['Puertas'] = cleaned['Puertas'].replace(6, 5)
cleaned.to_csv('pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [9]:
cleaned = pd.read_csv('pf_suvs_i302_1s2025_cleaned.csv')

cleaned[cleaned['Puertas'] == 2]

,Marca,Modelo,Año,Versión,Color,Tipo de combustible,Puertas,Transmisión,Motor,Con cámara de retroceso,Kilómetros,Título,Precio,Moneda,Descripción,Tipo de vendedor
1852,Ford,Bronco,1981.0,V8,Marrón,Nafta,2.0,Manual,v8 302,NaN,1111111.0,Ford Bronco V8,65000.0,US$,2 dueños únicamenteÚnica x su estado100X100 or...,concesionaria
3844,BMW,Serie 4,2022.0,3.0 440i Gran Coupe M Package 326cv,Azul,Nafta,2.0,Automática,3.0,Sí,11200.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,97000.0,US$,El vendedor no incluyó una descripción del pro...,particular
4705,Suzuki,Jimny,2025.0,1.5 Glx At Bitone,Azul,Nafta,2.0,Automática,1.5,Sí,0.0,Suzuki Jimny 1.5 Glx At Bitone,39900.0,US$,Jimny GLX Automático año 2025 todo terreno 4x4...,concesionaria
6793,BMW,Serie 4,2022.0,3.0 440i Gran Coupe M Package 326cv,Azul,Nafta,2.0,Automática,3.0,NaN,11000.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,89900.0,US$,BMW M440i 382CVIgual a nuevo Solo 11mil km Ser...,particular
7240,BMW,Serie 4,2017.0,3.0 440i Gran Coupe M Package 326cv,Negro,Nafta,2.0,Automática,3.0,NaN,44000.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,60000.0,US$,BMW 440IAÑO 201744.000 KILOMETROSTITULAR AL DI...,concesionaria
8093,BMW,Serie 4,2017.0,3.0 440i Gran Coupe M Package 326cv,Azul,Nafta,2.0,Automática,3.0,Sí,41000.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,52500.0,US$,Service oficiales,concesionaria
9500,Suzuki,Jimny,2022.0,1.5 Glx At Monotone,Gris,Nafta,2.0,Automática,1.5,Sí,17000.0,Suzuki Jimny 1.5 Glx At Monotone,38500.0,US$,"Quintana GarageVicente López, Buenos AiresSuzu...",concesionaria
10583,Ford,Bronco,1981.0,XLT V8 302,Azul,Nafta,2.0,Automática,V8 302,NaN,1111111.0,Ford Bronco XLT V8 302,55000.0,US$,Ford bronco v8Motor 302AutomáticaLlantas Ameri...,concesionaria
11246,BMW,Serie 4,2017.0,3.0 440i Gran Coupe M Package 326cv,Gris,Nafta,2.0,Automática,3.0,NaN,50000.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,51900.0,US$,VEHICULO : BMWVERSION : 440IMOTOR : 3.0KM: 50....,concesionaria
14011,Ford,Bronco,1986.0,5.8 Xlt V8,Azul,Nafta,2.0,Automática,5.8,NaN,1111111.0,Ford Bronco 5.8 Xlt V8,55000.0,US$,FORD BRONCO XLT V8 5.8L AÑO 1996 EXCELENTE EST...,concesionaria

In [10]:
# en la fila 7240, 8093 y 11246, reemplazamos el 2 en Puertas por 5 (FIGURAN COMO COUPE PERO LA IMAGEN MARCA QUE SON DE 5 PUERTAS)
#mostrar las filas 7240, 8093 y 11246

print("Filas 7240, 8093 y 11246:")
print(cleaned.iloc[[7240, 8093, 11246]])

#en estas filas reemplazamos el 2 por 5
cleaned.loc[[7240, 8093, 11246], 'Puertas'] = 5
#guardar el DataFrame actualizado en un nuevo archivo CSV
cleaned.to_csv('pf_suvs_i302_1s2025_cleaned.csv', index=False)

Filas 7240, 8093 y 11246:
      Marca   Modelo     Año                              Versión  Color  \
7240    BMW  Serie 4  2017.0  3.0 440i Gran Coupe M Package 326cv  Negro
8093    BMW  Serie 4  2017.0  3.0 440i Gran Coupe M Package 326cv   Azul
11246   BMW  Serie 4  2017.0  3.0 440i Gran Coupe M Package 326cv   Gris

      Tipo de combustible  Puertas Transmisión Motor Con cámara de retroceso  \
7240                Nafta      2.0  Automática   3.0                     NaN
8093                Nafta      2.0  Automática   3.0                      Sí
11246               Nafta      2.0  Automática   3.0                     NaN

      Kilómetros                                           Título   Precio  \
7240     44000.0  BMW Serie 4 3.0 440i Gran Coupe M Package 326cv  60000.0
8093     41000.0  BMW Serie 4 3.0 440i Gran Coupe M Package 326cv  52500.0
11246    50000.0  BMW Serie 4 3.0 440i Gran Coupe M Package 326cv  51900.0

      Moneda                                        Descripción  \
7240     US$  BMW 440IAÑO 201744.000 KILOMETROSTITULAR AL DI...
8093     US$                                  Service oficiales
11246    US$  VEHICULO : BMWVERSION : 440IMOTOR : 3.0KM: 50....

      Tipo de vendedor
7240     concesionaria
8093     concesionaria
11246    concesionaria

In [11]:
cleaned = pd.read_csv('pf_suvs_i302_1s2025_cleaned.csv')

cleaned[cleaned['Puertas'] == 2]

,Marca,Modelo,Año,Versión,Color,Tipo de combustible,Puertas,Transmisión,Motor,Con cámara de retroceso,Kilómetros,Título,Precio,Moneda,Descripción,Tipo de vendedor
1852,Ford,Bronco,1981.0,V8,Marrón,Nafta,2.0,Manual,v8 302,NaN,1111111.0,Ford Bronco V8,65000.0,US$,2 dueños únicamenteÚnica x su estado100X100 or...,concesionaria
3844,BMW,Serie 4,2022.0,3.0 440i Gran Coupe M Package 326cv,Azul,Nafta,2.0,Automática,3.0,Sí,11200.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,97000.0,US$,El vendedor no incluyó una descripción del pro...,particular
4705,Suzuki,Jimny,2025.0,1.5 Glx At Bitone,Azul,Nafta,2.0,Automática,1.5,Sí,0.0,Suzuki Jimny 1.5 Glx At Bitone,39900.0,US$,Jimny GLX Automático año 2025 todo terreno 4x4...,concesionaria
6793,BMW,Serie 4,2022.0,3.0 440i Gran Coupe M Package 326cv,Azul,Nafta,2.0,Automática,3.0,NaN,11000.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,89900.0,US$,BMW M440i 382CVIgual a nuevo Solo 11mil km Ser...,particular
9500,Suzuki,Jimny,2022.0,1.5 Glx At Monotone,Gris,Nafta,2.0,Automática,1.5,Sí,17000.0,Suzuki Jimny 1.5 Glx At Monotone,38500.0,US$,"Quintana GarageVicente López, Buenos AiresSuzu...",concesionaria
10583,Ford,Bronco,1981.0,XLT V8 302,Azul,Nafta,2.0,Automática,V8 302,NaN,1111111.0,Ford Bronco XLT V8 302,55000.0,US$,Ford bronco v8Motor 302AutomáticaLlantas Ameri...,concesionaria
14011,Ford,Bronco,1986.0,5.8 Xlt V8,Azul,Nafta,2.0,Automática,5.8,NaN,1111111.0,Ford Bronco 5.8 Xlt V8,55000.0,US$,FORD BRONCO XLT V8 5.8L AÑO 1996 EXCELENTE EST...,concesionaria

In [12]:
#reemplazar los valores 2 en puertas por 3
cleaned['Puertas'] = cleaned['Puertas'].replace(2, 3)
#guardar el DataFrame actualizado en un nuevo archivo CSV
cleaned.to_csv('pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [13]:
cleaned = pd.read_csv('pf_suvs_i302_1s2025_cleaned.csv')

#mostrar cantidad de elementos por cada valor de la columna 'Puertas'
print("Cantidad de vehículos con cada cantidad de puertas:")
print(cleaned['Puertas'].value_counts())

Cantidad de vehículos con cada cantidad de puertas:
Puertas
5.0    17743
4.0      399
3.0      112
Name: count, dtype: int64

## despues hay que seguir viendo tema autos de 4 puertas lo hago despues

In [14]:
cleaned = pd.read_csv('pf_suvs_i302_1s2025_cleaned.csv')
print("Cantidad de valores diferentes por columna:")
print(cleaned.nunique())

Cantidad de valores diferentes por columna:
Marca                         47
Modelo                       137
Año                           40
Versión                     2072
Color                         70
Tipo de combustible            8
Puertas                        3
Transmisión                    4
Motor                        271
Con cámara de retroceso        2
Kilómetros                  2175
Título                      2220
Precio                      2914
Moneda                         2
Descripción                12142
Tipo de vendedor               3
dtype: int64

In [15]:
#cantidad de vehiculos por marca

print("Cantidad de vehículos por marca:")
print(cleaned['Marca'].value_counts())

Cantidad de vehículos por marca:
Marca
Ford              2161
Jeep              2050
Volkswagen        2037
Chevrolet         1750
Renault           1491
Toyota            1260
Peugeot           1250
Nissan            1059
Citroën            721
BMW                672
Honda              597
Hyundai            568
Audi               529
Fiat               366
Chery              344
Kia                290
Mercedes-Benz      282
Dodge              185
BAIC               165
Suzuki              76
Porsche             67
Land Rover          65
Mitsubishi          47
Volvo               38
SsangYong           30
D.S.                27
Alfa Romeo          25
JAC                 19
Jetour              14
GWM                  9
Haval                9
Isuzu                8
Lifan                7
Lexus                7
Subaru               5
Daihatsu             4
D·S                  4
Mini                 3
Hiunday              2
KAIYI                2
DS AUTOMOBILES       2
Jaguar               2
Range Rover          1
Rrenault             1
Jetur                1
hiunday              1
Vol                  1
Name: count, dtype: int64

In [16]:
cleaned = pd.read_csv('pf_suvs_i302_1s2025_cleaned.csv')

#reemplazar Vol por Volkswagen
cleaned['Marca'] = cleaned['Marca'].replace('Vol', 'Volkswagen')
#reemplazar hiunday por Hyundai
cleaned['Marca'] = cleaned['Marca'].replace('hiunday', 'Hyundai')
#reemplazar Hiunday por Hyundai
cleaned['Marca'] = cleaned['Marca'].replace('Hiunday', 'Hyundai')
#reemplazar Jetur por Jetour
cleaned['Marca'] = cleaned['Marca'].replace('Jetur', 'Jetour')
#reemplazar Rrenault por Renault
cleaned['Marca'] = cleaned['Marca'].replace('Rrenault', 'Renault')
#reemplazar DS AUTOMOBILES por D.S.
cleaned['Marca'] = cleaned['Marca'].replace('DS AUTOMOBILES', 'D.S.')
#reemplazar D·S por D.S.
cleaned['Marca'] = cleaned['Marca'].replace('D·S', 'D.S.')
#reemplazar Range Rover por Land Rover
cleaned['Marca'] = cleaned['Marca'].replace('Range Rover', 'Land Rover')

cleaned.to_csv('pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [17]:
print(cleaned['Marca'].value_counts())

Marca
Ford             2161
Jeep             2050
Volkswagen       2038
Chevrolet        1750
Renault          1492
Toyota           1260
Peugeot          1250
Nissan           1059
Citroën           721
BMW               672
Honda             597
Hyundai           571
Audi              529
Fiat              366
Chery             344
Kia               290
Mercedes-Benz     282
Dodge             185
BAIC              165
Suzuki             76
Porsche            67
Land Rover         66
Mitsubishi         47
Volvo              38
D.S.               33
SsangYong          30
Alfa Romeo         25
JAC                19
Jetour             15
Haval               9
GWM                 9
Isuzu               8
Lifan               7
Lexus               7
Subaru              5
Daihatsu            4
Mini                3
KAIYI               2
Jaguar              2
Name: count, dtype: int64

In [18]:
cleaned['Año'].value_counts()

Año
2025.0      3754
2024.0      1770
2018.0      1710
2017.0      1453
2019.0      1117
2021.0      1022
2020.0       961
2013.0       893
2016.0       853
2022.0       826
2023.0       711
2012.0       561
2014.0       529
2015.0       455
2011.0       421
2010.0       302
2008.0       226
2009.0       165
2007.0       108
2006.0        76
2005.0        55
1999.0        45
1998.0        40
2000.0        37
2001.0        28
2004.0        26
1997.0        25
2003.0        16
2002.0        13
1994.0        12
1993.0        11
1995.0        11
1996.0         8
1992.0         4
1981.0         3
1991.0         2
1990.0         2
1986.0         1
1987.0         1
436694.0       1
Name: count, dtype: int64

In [19]:
#reemplazar 436694.0 por 2017
cleaned['Año'] = cleaned['Año'].replace(436694.0, 2017)
cleaned.to_csv('pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [20]:
pd.set_option('display.max_rows', 70) 
print(cleaned['Color'].value_counts())

print("Cantidad de colores diferentes:")
print(cleaned['Color'].nunique())

Color
Gris                             5468
Blanco                           4809
Negro                            2825
Plateado                         1427
Azul                             1121
Rojo                             1118
Marrón                            253
Dorado                            190
Verde                             135
Beige                             125
Celeste                            93
Naranja                            73
Gris oscuro                        43
Violeta                            33
Bordó                              29
Amarillo                           24
Rosa                                8
Plata                               7
Otro                                6
Acero                               4
Blanca                              4
BLANCA                              3
Café                                3
Gris plata                          3
Negra                               3
MINERALWEISS METALLIC               2
CARBON BLACK                        2
PLATA                               2
BLANCO NACRE TRICAPA                2
Azul claro                          2
Marrón oscuro                       2
Verde oscuro                        2
blanca                              2
NEGRA                               2
GRIS SELENIUM                       2
SUMMIT WHITE                        2
Grafito                             2
steel_blue                          2
GRIS PLATA                          1
MORADO                              1
PRATA BARI+TET VULC                 1
Morado oscuro                       1
BLANCO GLACIAR                      1
GRIS ESTRELLA                       1
GRIS INDY                           1
BLANCO BANQUISE                     1
GRIS SILVERSTONE                    1
GRANITE CRYSTA BC                   1
SKYSCRAPER GRAU METALLIC            1
BLANCO BANCHISA BICOLOR NEGRO       1
GRIS PLATINO                        1
Beige techo negro                   1
Champaing                           1
NOIR PERLA NERA                     1
PLATA BARI                          1
GRIS LAQUE                          1
Marrón claro                        1
Moundaz                             1
GRIS TITANE                         1
Amarrillo                           1
Cendre                              1
GRANITE CRYSTAL BC                  1
MARRON KODIAK                       1
blue                                1
BLACK MEET KETTLE                   1
GRAY                                1
Blanco Glaciar                      1
GRIS ARTENSE                        1
Cobre                               1
ROJO SUNSET METALIZADO              1
Name: count, dtype: int64
Cantidad de colores diferentes:
70

In [29]:
#reemplazar GRAY, GRIS TITANE, GRIS LAQUE, GRIS PLATINO, GRIS SILVERSTONE, GRIS INDY, GRIS ESTRELLA, GRIS PLATA, GRIS SELENIUM,Gris oscuro por Gris
cleaned['Color'] = cleaned['Color'].replace(['GRAY','GRIS ARTENSE', 'GRIS TITANE','GRIS LAQUE', 'GRIS PLATINO', 'GRIS SILVERSTONE', 
                                              'GRIS INDY', 'GRANITE CRYSTAL BC', 'GRIS ESTRELLA', 'GRIS PLATA', 'GRIS SELENIUM', 'Gris oscuro'], 'Gris')


#reemplazar blue, steel_blue, Azul claro, Celeste por Azul
cleaned['Color'] = cleaned['Color'].replace(['blue', 'steel_blue', 'Azul claro', 'Celeste'], 'Azul')

#reemplazar, BLACK MEET KETTLE, NOIR PERLA NERA, NEGRA, CARBON BLACK, Negra, por Negro
cleaned['Color'] = cleaned['Color'].replace(['BLACK MEET KETTLE', 'NOIR PERLA NERA', 'NEGRA', 'CARBON BLACK', 'Negra'], 'Negro')

#reemplazar Blanco Glaciar, BLANCO BANCHISA BICOLOR NEGRO, BLANCO BANQUISE, BLANCO GLACIAR, SUMMIT WHITE, blanca, BLANCO NACRE TRICAPA, BLANCA, Blanca, por Blanco
cleaned['Color'] = cleaned['Color']. replace(['Blanco Glaciar', 'BLANCO BANCHISA BICOLOR NEGRO', 'BLANCO BANQUISE', 'BLANCO GLACIAR', 'SUMMIT WHITE','blanca', 'BLANCO NACRE TRICAPA',
                                                'BLANCA', 'Blanca'], 'Blanco' )

cleaned.to_csv('pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [30]:
cleaned = pd.read_csv('pf_suvs_i302_1s2025_cleaned.csv')
pd.set_option('display.max_rows', 70) 
print(cleaned['Color'].value_counts())

#cantidad de colores
print("Cantidad de colores diferentes:")
print(cleaned['Color'].nunique())

Color
Gris                        5523
Blanco                      4826
Negro                       2834
Plateado                    1427
Azul                        1219
Rojo                        1118
Marrón                       253
Dorado                       190
Verde                        135
Beige                        125
Naranja                       73
Violeta                       33
Bordó                         29
Amarillo                      24
Rosa                           8
Plata                          7
Otro                           6
Acero                          4
Café                           3
Gris plata                     3
Verde oscuro                   2
MINERALWEISS METALLIC          2
PLATA                          2
Marrón oscuro                  2
Grafito                        2
Champaing                      1
Beige techo negro              1
SKYSCRAPER GRAU METALLIC       1
GRANITE CRYSTA BC              1
Morado oscuro                  1
PRATA BARI+TET VULC            1
MORADO                         1
PLATA BARI                     1
ROJO SUNSET METALIZADO         1
Marrón claro                   1
Amarrillo                      1
Cendre                         1
MARRON KODIAK                  1
Moundaz                        1
Cobre                          1
Name: count, dtype: int64
Cantidad de colores diferentes:
40

## hay que seguir con esta parte de color. Quizas hacer clustering?

In [33]:
precio_dolar_ml = round(10000000/8300, 2)   
print(precio_dolar_ml)

1204.82

In [ ]:
# a los autos que en la columna de 'Moneda' tengan SOLAMENTE $, divideles su valor de Precio por precio_dolar_ml