In [4]:
import pandas as pd
import numpy as np

dev = pd.read_csv('data/raw/pf_suvs_i302_1s2025.csv')
#drop la primera columna (INDEX)
dev = dev.drop(columns=['Unnamed: 0'])

#guardar el DataFrame en un archivo CSV
dev.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [5]:
#contar cantidad de valores diferentes por columna
print("Cantidad de valores diferentes por columna:")
print(dev.nunique())

Cantidad de valores diferentes por columna:
Marca                         47
Modelo                       137
Año                           40
Versión                     2072
Color                         70
Tipo de combustible            8
Puertas                        7
Transmisión                    4
Motor                        271
Tipo de carrocería             1
Con cámara de retroceso        2
Kilómetros                  2175
Título                      2220
Precio                      2914
Moneda                         2
Descripción                12142
Tipo de vendedor               3
dtype: int64

In [6]:
#borrar columna 'Tipo de carrocería' (TODAS TIENEN EL MISMO VALOR)
dev = dev.drop(columns=['Tipo de carrocería'])

#guardar el DataFrame actualizado en un nuevo archivo CSV
dev.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

## Limpieza de Marcas

In [7]:
#cantidad de vehiculos por marca
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
print("Cantidad de vehículos por marca:")
print(cleaned['Marca'].value_counts())

Cantidad de vehículos por marca:
Marca
Ford              2161
Jeep              2050
Volkswagen        2037
Chevrolet         1750
Renault           1491
Toyota            1260
Peugeot           1250
Nissan            1059
Citroën            721
BMW                672
Honda              597
Hyundai            568
Audi               529
Fiat               366
Chery              344
Kia                290
Mercedes-Benz      282
Dodge              185
BAIC               165
Suzuki              76
Porsche             67
Land Rover          64
Mitsubishi          47
Volvo               38
SsangYong           30
D.S.                27
Alfa Romeo          25
JAC                 19
Jetour              14
Haval                9
GWM                  9
Isuzu                8
Lifan                7
Lexus                7
Subaru               5
D·S                  4
Daihatsu             4
Mini                 3
Hiunday              2
KAIYI                2
Range Rover          2
DS AUTOMOBILES       2
Jaguar               2
Rrenault             1
Jetur                1
hiunday              1
Vol                  1
Name: count, dtype: int64

In [8]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

#reemplazar Vol por Volkswagen
cleaned['Marca'] = cleaned['Marca'].replace('Vol', 'Volkswagen')
#reemplazar hiunday por Hyundai
cleaned['Marca'] = cleaned['Marca'].replace('hiunday', 'Hyundai')
cleaned['Marca'] = cleaned['Marca'].replace('Hiunday', 'Hyundai')
#reemplazar Hiunday por Hyundai
cleaned['Marca'] = cleaned['Marca'].replace('Hiunday', 'Hyundai')
#reemplazar Jetur por Jetour
cleaned['Marca'] = cleaned['Marca'].replace('Jetur', 'Jetour')
#reemplazar Rrenault por Renault
cleaned['Marca'] = cleaned['Marca'].replace('Rrenault', 'Renault')
#reemplazar DS AUTOMOBILES por D.S.
cleaned['Marca'] = cleaned['Marca'].replace('DS AUTOMOBILES', 'D.S.')
#reemplazar D·S por D.S.
cleaned['Marca'] = cleaned['Marca'].replace('D·S', 'D.S.')
#reemplazar Range Rover por Land Rover ESTO ESTA bien pero en los casos que se reemplaza hay q ponerle range rover a los modelos...
cleaned['Marca'] = cleaned['Marca'].replace('Range Rover', 'Land Rover')

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

print(cleaned['Marca'].value_counts())

Marca
Ford             2161
Jeep             2050
Volkswagen       2038
Chevrolet        1750
Renault          1492
Toyota           1260
Peugeot          1250
Nissan           1059
Citroën           721
BMW               672
Honda             597
Hyundai           571
Audi              529
Fiat              366
Chery             344
Kia               290
Mercedes-Benz     282
Dodge             185
BAIC              165
Suzuki             76
Porsche            67
Land Rover         66
Mitsubishi         47
Volvo              38
D.S.               33
SsangYong          30
Alfa Romeo         25
JAC                19
Jetour             15
Haval               9
GWM                 9
Isuzu               8
Lifan               7
Lexus               7
Subaru              5
Daihatsu            4
Mini                3
KAIYI               2
Jaguar              2
Name: count, dtype: int64

## Limpieza de modelo

In [14]:

pd.set_option('display.max_rows', 140) 
#ordenados en orden alfabetico
print("Cantidad de vehículos por marca ordenados alfabéticamente:")
print(cleaned['Modelo'].value_counts().sort_index())
#cantidad de modelos diferentes
print("Cantidad de modelos diferentes:")
print(cleaned['Modelo'].nunique())

Cantidad de vehículos por marca ordenados alfabéticamente:
Modelo
2008                 1144
208                     2
3008                  100
4008                    4
4Runner                 6
500X                   25
Actyon                  7
Blazer                 21
Bronco                  4
Bronco Sport          117
C3                      5
C3 Aircross           228
C4 Aircross             2
C4 Cactus             453
C5 Aircross            33
CR-V                  246
Captur                229
Cayenne                43
Cherokee               42
Clase GL                2
Clase GLA              84
Clase GLC             104
Clase GLE              39
Clase GLK              29
Clase ML               18
Commander             117
Compass               916
Cooper Countryman       3
Corolla Cross         482
Creta                  69
DS3                     2
DS7                    10
DS7 Crossback          21
Defender                2
Discovery               9
Duster               1048
Duster Oroch          109
Ecosport             1569
Equinox                36
Evoque                 28
Explorer               14
F-PACE                  2
Freelander              3
Galloper                7
Grand Blazer            2
Grand Cherokee        193
Grand Santa Fé          3
Grand Vitara           47
H6                     11
HR-V                  339
Hilux SW4             322
Jimny                  13
Jolion                  7
Journey               185
Kicks                 913
Koleos                100
Kona                    4
Kuga                  177
Land Cruiser           53
ML                      6
Macan                  22
Mohave                  2
Montero                20
Murano                 20
Musso                  23
Myway                   4
NX                      3
Nativa                  2
Nivus                 436
Outback                 5
Outlander              25
Panamera                2
Pathfinder             13
Patriot                30
Pilot                  12
Pulse                 341
Q2                     65
Q3                    114
Q3 Sportback           41
Q5                    196
Q7                     56
Q8                     25
RAV4                  173
Range Rover             6
Range Rover Sport      18
Renegade              643
S2                     19
SQ5                     8
SW4                   224
Samurai                 2
Sandero                 2
Sandero Stepway         4
Santa Fe               71
Seltos                 19
Serie 4                 5
Sorento                77
Soul                   82
Spin                   33
Sportage              110
Stelvio                25
T-Cross               540
Taos                  687
Terios                  4
Terrano II              2
Territory             280
Tiggo                 145
Tiggo 2                30
Tiggo 3               104
Tiggo 4                 2
Tiggo 4 Pro            31
Tiggo 5                30
Tiggo 8 Pro             2
Tiguan                211
Tiguan Allspace       147
Touareg                17
Tracker              1511
Trailblazer           139
Trooper                 8
Tucson                417
UX                      4
Vitara                 22
Wrangler              109
X-Terra                36
X-Trail                75
X1                    264
X2                     40
X25                     2
X3                     94
X35                    57
X4                     46
X5                     75
X55                   106
X6                    150
X70                    18
XC40                    5
XC60                   33
q5 sportback           24
Name: count, dtype: int64
Cantidad de modelos diferentes:
137

In [15]:

pd.set_option('display.max_rows', 140) 
#ordenados en orden alfabetico
print("Cantidad de vehículos por marca ordenados alfabéticamente:")
print(cleaned['Versión'].value_counts().sort_index())
#cantidad de modelos diferentes
print("Cantidad de modelos diferentes:")
print(cleaned['Versión'].nunique())

Cantidad de vehículos por marca ordenados alfabéticamente:
Versión
1,5 Titanium Automática    1
1,6 Feline                 1
1,6 L 4x2 XLS              1
1,8 4x2                    1
1,8 EXL CVT AUTOMATICA     1
                          ..
x1 x drive 1.8 i           1
x55 Il                     7
x70                        2
xDrive 30e                 1
xDrive 40i                 1
Name: count, Length: 2072, dtype: int64
Cantidad de modelos diferentes:
2072

In [ ]:
#buscar valores no numericos en motor
motor_values = cleaned['Motor']

In [1163]:

#cantidad de vehiculos con cada cantidad de puertas
print("Cantidad de vehículos con cada cantidad de puertas:")
print(dev['Puertas'].value_counts())

Cantidad de vehículos con cada cantidad de puertas:
Puertas
5.0        17735
4.0          395
3.0          105
2.0           10
60252.0        4
6.0            3
7.0            2
Name: count, dtype: int64

In [1164]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
#reemplzar los valores 60252 en puertas por 5
cleaned['Puertas'] = cleaned['Puertas'].replace(60252, 5)

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [1165]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
dev[dev['Puertas'] == 7]

cleaned['Puertas'] = cleaned['Puertas'].replace(7, 5)
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [1166]:

dev[dev['Puertas'] == 6]

,Marca,Modelo,Año,Versión,Color,Tipo de combustible,Puertas,Transmisión,Motor,Con cámara de retroceso,Kilómetros,Título,Precio,Moneda,Descripción,Tipo de vendedor
1593,Toyota,SW4,2018.0,4x4 SRX 2.8 TDI 6AT 7A,Blanco,Diésel,6.0,Automática,2.8,Sí,67000.0,Toyota Srx 4x4 At,48000000.0,$,Único dueño. Solo efectivo. El precio es el pu...,particular
7603,Honda,CR-V,2024.0,ex 1.5 Turbo,Blanco,Nafta,6.0,Automática,1.5,Sí,0.0,Honda Crv Ex Cvt 2wd 1.5 Turbo 190cv 5p 2024 0km,59500.0,US$,Honda NEW CR-V EX CVT 2WD 2024 0kmConcesionari...,concesionaria
12901,Toyota,SW4,2025.0,gr,NaN,Diésel,6.0,Automática,-,NaN,0.0,Toyota Sw4 Gr -2025,86000000.0,$,Con un diseño al mismo tiempo fuerte y elegant...,concesionaria

In [1167]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
cleaned['Puertas'] = cleaned['Puertas'].replace(6, 5)
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [1168]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

cleaned[cleaned['Puertas'] == 2]

,Marca,Modelo,Año,Versión,Color,Tipo de combustible,Puertas,Transmisión,Motor,Con cámara de retroceso,Kilómetros,Título,Precio,Moneda,Descripción,Tipo de vendedor
1852,Ford,Bronco,1981.0,V8,Marrón,Nafta,2.0,Manual,v8 302,NaN,1111111.0,Ford Bronco V8,65000.0,US$,2 dueños únicamenteÚnica x su estado100X100 or...,concesionaria
3844,BMW,Serie 4,2022.0,3.0 440i Gran Coupe M Package 326cv,Azul,Nafta,2.0,Automática,3.0,Sí,11200.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,97000.0,US$,El vendedor no incluyó una descripción del pro...,particular
4705,Suzuki,Jimny,2025.0,1.5 Glx At Bitone,Azul,Nafta,2.0,Automática,1.5,Sí,0.0,Suzuki Jimny 1.5 Glx At Bitone,39900.0,US$,Jimny GLX Automático año 2025 todo terreno 4x4...,concesionaria
6793,BMW,Serie 4,2022.0,3.0 440i Gran Coupe M Package 326cv,Azul,Nafta,2.0,Automática,3.0,NaN,11000.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,89900.0,US$,BMW M440i 382CVIgual a nuevo Solo 11mil km Ser...,particular
7240,BMW,Serie 4,2017.0,3.0 440i Gran Coupe M Package 326cv,Negro,Nafta,2.0,Automática,3.0,NaN,44000.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,60000.0,US$,BMW 440IAÑO 201744.000 KILOMETROSTITULAR AL DI...,concesionaria
8093,BMW,Serie 4,2017.0,3.0 440i Gran Coupe M Package 326cv,Azul,Nafta,2.0,Automática,3.0,Sí,41000.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,52500.0,US$,Service oficiales,concesionaria
9500,Suzuki,Jimny,2022.0,1.5 Glx At Monotone,Gris,Nafta,2.0,Automática,1.5,Sí,17000.0,Suzuki Jimny 1.5 Glx At Monotone,38500.0,US$,"Quintana GarageVicente López, Buenos AiresSuzu...",concesionaria
10583,Ford,Bronco,1981.0,XLT V8 302,Azul,Nafta,2.0,Automática,V8 302,NaN,1111111.0,Ford Bronco XLT V8 302,55000.0,US$,Ford bronco v8Motor 302AutomáticaLlantas Ameri...,concesionaria
11246,BMW,Serie 4,2017.0,3.0 440i Gran Coupe M Package 326cv,Gris,Nafta,2.0,Automática,3.0,NaN,50000.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,51900.0,US$,VEHICULO : BMWVERSION : 440IMOTOR : 3.0KM: 50....,concesionaria
14011,Ford,Bronco,1986.0,5.8 Xlt V8,Azul,Nafta,2.0,Automática,5.8,NaN,1111111.0,Ford Bronco 5.8 Xlt V8,55000.0,US$,FORD BRONCO XLT V8 5.8L AÑO 1996 EXCELENTE EST...,concesionaria

In [1169]:
# en la fila 7240, 8093 y 11246, reemplazamos el 2 en Puertas por 5 (FIGURAN COMO COUPE PERO LA IMAGEN MARCA QUE SON DE 5 PUERTAS)
#mostrar las filas 7240, 8093 y 11246

print("Filas 7240, 8093 y 11246:")
print(cleaned.iloc[[7240, 8093, 11246]])

#en estas filas reemplazamos el 2 por 5
cleaned.loc[[7240, 8093, 11246], 'Puertas'] = 5
#guardar el DataFrame actualizado en un nuevo archivo CSV
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

Filas 7240, 8093 y 11246:
      Marca   Modelo     Año                              Versión  Color  \
7240    BMW  Serie 4  2017.0  3.0 440i Gran Coupe M Package 326cv  Negro
8093    BMW  Serie 4  2017.0  3.0 440i Gran Coupe M Package 326cv   Azul
11246   BMW  Serie 4  2017.0  3.0 440i Gran Coupe M Package 326cv   Gris

      Tipo de combustible  Puertas Transmisión Motor Con cámara de retroceso  \
7240                Nafta      2.0  Automática   3.0                     NaN
8093                Nafta      2.0  Automática   3.0                      Sí
11246               Nafta      2.0  Automática   3.0                     NaN

      Kilómetros                                           Título   Precio  \
7240     44000.0  BMW Serie 4 3.0 440i Gran Coupe M Package 326cv  60000.0
8093     41000.0  BMW Serie 4 3.0 440i Gran Coupe M Package 326cv  52500.0
11246    50000.0  BMW Serie 4 3.0 440i Gran Coupe M Package 326cv  51900.0

      Moneda                                        Descripción  \
7240     US$  BMW 440IAÑO 201744.000 KILOMETROSTITULAR AL DI...
8093     US$                                  Service oficiales
11246    US$  VEHICULO : BMWVERSION : 440IMOTOR : 3.0KM: 50....

      Tipo de vendedor
7240     concesionaria
8093     concesionaria
11246    concesionaria

In [1170]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

cleaned[cleaned['Puertas'] == 2]

,Marca,Modelo,Año,Versión,Color,Tipo de combustible,Puertas,Transmisión,Motor,Con cámara de retroceso,Kilómetros,Título,Precio,Moneda,Descripción,Tipo de vendedor
1852,Ford,Bronco,1981.0,V8,Marrón,Nafta,2.0,Manual,v8 302,NaN,1111111.0,Ford Bronco V8,65000.0,US$,2 dueños únicamenteÚnica x su estado100X100 or...,concesionaria
3844,BMW,Serie 4,2022.0,3.0 440i Gran Coupe M Package 326cv,Azul,Nafta,2.0,Automática,3.0,Sí,11200.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,97000.0,US$,El vendedor no incluyó una descripción del pro...,particular
4705,Suzuki,Jimny,2025.0,1.5 Glx At Bitone,Azul,Nafta,2.0,Automática,1.5,Sí,0.0,Suzuki Jimny 1.5 Glx At Bitone,39900.0,US$,Jimny GLX Automático año 2025 todo terreno 4x4...,concesionaria
6793,BMW,Serie 4,2022.0,3.0 440i Gran Coupe M Package 326cv,Azul,Nafta,2.0,Automática,3.0,NaN,11000.0,BMW Serie 4 3.0 440i Gran Coupe M Package 326cv,89900.0,US$,BMW M440i 382CVIgual a nuevo Solo 11mil km Ser...,particular
9500,Suzuki,Jimny,2022.0,1.5 Glx At Monotone,Gris,Nafta,2.0,Automática,1.5,Sí,17000.0,Suzuki Jimny 1.5 Glx At Monotone,38500.0,US$,"Quintana GarageVicente López, Buenos AiresSuzu...",concesionaria
10583,Ford,Bronco,1981.0,XLT V8 302,Azul,Nafta,2.0,Automática,V8 302,NaN,1111111.0,Ford Bronco XLT V8 302,55000.0,US$,Ford bronco v8Motor 302AutomáticaLlantas Ameri...,concesionaria
14011,Ford,Bronco,1986.0,5.8 Xlt V8,Azul,Nafta,2.0,Automática,5.8,NaN,1111111.0,Ford Bronco 5.8 Xlt V8,55000.0,US$,FORD BRONCO XLT V8 5.8L AÑO 1996 EXCELENTE EST...,concesionaria

In [1171]:
#reemplazar los valores 2 en puertas por 3
cleaned['Puertas'] = cleaned['Puertas'].replace(2, 3)
#guardar el DataFrame actualizado en un nuevo archivo CSV
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [1172]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

#mostrar cantidad de elementos por cada valor de la columna 'Puertas'
print("Cantidad de vehículos con cada cantidad de puertas:")
print(cleaned['Puertas'].value_counts())

Cantidad de vehículos con cada cantidad de puertas:
Puertas
5.0    17747
4.0      395
3.0      112
Name: count, dtype: int64

In [1173]:
# busco valores de 4 puertas
print("Cantidad de vehículos con 4 puertas:")
print(cleaned[cleaned['Puertas'] == 4].shape[0])

#imprimo random 5 vehiculos con 4 puertas
print("5 vehículos con 4 puertas:")
print(cleaned[cleaned['Puertas'] == 4].sample(3))

# No existen vehículos con 4 puertas, por lo que hay un error en los datos. Pareciera que los vehículos con 4 puertas son en realidad vehículos con 5 puertas pero no podemos estar seguros.
# Primero voy a buscar si existe otra publicacion de la misma marca y modelo con con 5 puertas
#voy por cada vehiculo con 4 puertas y busco si existe otro igual con 5 puertas si existe cambio el valor de 4 por 5, hay algunos casos que no consideran la caja como puerta. nosotros si lo hacemos
# CASOS RAROS: PORSCHE PANAMERA, JEEP WRANGLER (si dice UNLIMITED tiene 5 puertas si no dice 3 puertas), TODAS LAS OROCH tienen 5 puertas
i = 0
i2 = 0
for index, row in cleaned[cleaned['Puertas'] == 4].iterrows():
    marca = row['Marca']
    modelo = row['Modelo']
    version = row['Versión']
    
    if marca == 'Porsche' and modelo =='Panamera':
        i+= 1
        cleaned.at[index, 'Puertas'] = 5
        continue
    if marca == 'Jeep' and modelo == 'Wrangler':
        if 'Unlimited' in version:
            i += 1
            cleaned.at[index, 'Puertas'] = 5
            continue
        else:
            i2 += 1
            cleaned.at[index, 'Puertas'] = 3
            continue
    if marca == 'Renault' and modelo == 'Duster Oroch':
        i += 1
        cleaned.at[index, 'Puertas'] = 5
        continue
    #busco si existe otro vehiculo con la misma marca, modelo y version pero con 5 puertas
    if cleaned[(cleaned['Marca'] == marca) & (cleaned['Modelo'] == modelo) & (cleaned['Versión'] == version) & (cleaned['Puertas'] == 5)].shape[0] > 0:
        i += 1
        # print(f"Vehículo con 4 puertas encontrado: {marca} {modelo} {version} en el índice {index}. Cambiando a 5 puertas.")
        cleaned.at[index, 'Puertas'] = 5

    #hago lo mismo pero con 3 puertas
    elif cleaned[(cleaned['Marca'] == marca) & (cleaned['Modelo'] == modelo) & (cleaned['Versión'] == version) & (cleaned['Puertas'] == 3)].shape[0] > 0:
        i2 += 1
        # print(f"Vehículo con 4 puertas encontrado: {marca} {modelo} {version} en el índice {index}. Cambiando a 5 puertas.")
        print(f"Vehículo con 4 puertas encontrado: {marca} {modelo} {version} en el índice {index}. Cambiando a 3 puertas.")
        cleaned.at[index, 'Puertas'] = 3


print("Cantidad de vehículos con 4 puertas:")
print(cleaned[cleaned['Puertas'] == 4].shape[0])
print(f"Total de vehículos con 4 puertas cambiados a 5: {i}")
print(f"Total de vehículos con 4 puertas cambiados a 3: {i2}")

Cantidad de vehículos con 4 puertas:
395
5 vehículos con 4 puertas:
         Marca        Modelo     Año        Versión  Color  \
12517     Ford      Ecosport  2022.0   1.5 TITANIUM    NaN
15705     Ford  Bronco Sport  2025.0       Badlands  Verde
3627   Renault  Duster Oroch  2019.0  1.6 Dynamique   Rojo

      Tipo de combustible  Puertas Transmisión Motor Con cámara de retroceso  \
12517             Híbrido      4.0      Manual     1                      No
15705               Nafta      4.0  Automática   2.0                      Sí
3627                Nafta      4.0      Manual   1.6                     NaN

      Kilómetros                              Título      Precio Moneda  \
12517    55000.0          Ford Ecosport 1.5 TITANIUM  21170000.0      $
15705     1000.0          Ford Bronco Sport Badlands  60000000.0      $
3627     98000.0  Renault Duster Oroch 1.6 Dynamique  19000000.0      $

                                             Descripción Tipo de vendedor
12517  Cambiá tu auto o comprá uno semi nuevo en Kava...           tienda
15705  Nueva Ford Bronco Sport Badlands 0km Disponibl...       particular
3627   Renault Duster Oroch 1.6 Dynamique 201998.000 ...    concesionaria
Cantidad de vehículos con 4 puertas:
135
Total de vehículos con 4 puertas cambiados a 5: 250
Total de vehículos con 4 puertas cambiados a 3: 10

In [1174]:
### sigo analizando casos raros de 4 puertas
# marcas restantes con 4 puertas
print("Marcas restantes con 4 puertas: con sus respectivos modelos")


# de los restantes, Los Volkswagen tienen 5 puertas, duster 5, jeep 5, ford 5, mercedes 5, honda 5, hiunday 5, hyunday 5, chevrolet 5, fiat 5, peugeot 5, bmw 5, citroen 5, kia 5, 
marcas_5p = ['Volkswagen', 'Jeep', 'Ford', 'Mercedes-Benz', 'Honda', 'Hiunday','Hyundai', 'Chevrolet', 'Fiat', 'Peugeot', 'BMW', 'Citroën', 'Kia', 'Renault', 'Toyota', 'Jetur', 'Alfa Romeo', 'Nissan', 'Audi', 'D.S.', 'Porsche', 'BAIC', "Chery"]
for index, row in cleaned[cleaned['Puertas'] == 4].iterrows():
    marca = row['Marca']
    modelo = row['Modelo']
    version = row['Versión']
    
    if marca in marcas_5p: 
        cleaned.at[index, 'Puertas'] = 5

        
print(cleaned[cleaned['Puertas'] == 4][['Marca', 'Modelo']].drop_duplicates())
print("Total de casos por analizar:", cleaned[cleaned['Puertas'] == 4][['Marca', 'Modelo']].drop_duplicates().shape[0])

# guardo el DataFrame actualizado en un nuevo archivo CSV
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

print("Cantidad de vehiculos por puertas:")
print(cleaned['Puertas'].value_counts())

Marcas restantes con 4 puertas: con sus respectivos modelos
Empty DataFrame
Columns: [Marca, Modelo]
Index: []
Total de casos por analizar: 0
Cantidad de vehiculos por puertas:
Puertas
5.0    18132
3.0      122
Name: count, dtype: int64

## despues hay que seguir viendo tema autos de 4 puertas lo hago despues

In [1175]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
print("Cantidad de valores diferentes por columna:")
print(cleaned.nunique())

Cantidad de valores diferentes por columna:
Marca                         47
Modelo                       137
Año                           40
Versión                     2072
Color                         70
Tipo de combustible            8
Puertas                        2
Transmisión                    4
Motor                        271
Con cámara de retroceso        2
Kilómetros                  2175
Título                      2220
Precio                      2914
Moneda                         2
Descripción                12142
Tipo de vendedor               3
dtype: int64

In [1179]:
cleaned['Año'].value_counts()

Año
2025.0      3754
2024.0      1770
2018.0      1710
2017.0      1453
2019.0      1117
2021.0      1022
2020.0       961
2013.0       893
2016.0       853
2022.0       826
2023.0       711
2012.0       561
2014.0       529
2015.0       455
2011.0       421
2010.0       302
2008.0       226
2009.0       165
2007.0       108
2006.0        76
2005.0        55
1999.0        45
1998.0        40
2000.0        37
2001.0        28
2004.0        26
1997.0        25
2003.0        16
2002.0        13
1994.0        12
1993.0        11
1995.0        11
1996.0         8
1992.0         4
1981.0         3
1991.0         2
1990.0         2
1986.0         1
1987.0         1
436694.0       1
Name: count, dtype: int64

In [1180]:
#reemplazar 436694.0 por 2017
cleaned['Año'] = cleaned['Año'].replace(436694.0, 2017)
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [1181]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

pd.set_option('display.max_rows', 70) 
print(cleaned['Color'].value_counts())

print("Cantidad de colores diferentes:")
print(cleaned['Color'].nunique())

Color
Gris                             5468
Blanco                           4809
Negro                            2825
Plateado                         1427
Azul                             1121
Rojo                             1118
Marrón                            253
Dorado                            190
Verde                             135
Beige                             125
Celeste                            93
Naranja                            73
Gris oscuro                        43
Violeta                            33
Bordó                              29
Amarillo                           24
Rosa                                8
Plata                               7
Otro                                6
Acero                               4
Blanca                              4
BLANCA                              3
Café                                3
Gris plata                          3
Negra                               3
MINERALWEISS METALLIC               2
CARBON BLACK                        2
PLATA                               2
BLANCO NACRE TRICAPA                2
Azul claro                          2
Marrón oscuro                       2
Verde oscuro                        2
blanca                              2
NEGRA                               2
GRIS SELENIUM                       2
SUMMIT WHITE                        2
Grafito                             2
steel_blue                          2
GRIS PLATA                          1
MORADO                              1
PRATA BARI+TET VULC                 1
Morado oscuro                       1
BLANCO GLACIAR                      1
GRIS ESTRELLA                       1
GRIS INDY                           1
BLANCO BANQUISE                     1
GRIS SILVERSTONE                    1
GRANITE CRYSTA BC                   1
SKYSCRAPER GRAU METALLIC            1
BLANCO BANCHISA BICOLOR NEGRO       1
GRIS PLATINO                        1
Beige techo negro                   1
Champaing                           1
NOIR PERLA NERA                     1
PLATA BARI                          1
GRIS LAQUE                          1
Marrón claro                        1
Moundaz                             1
GRIS TITANE                         1
Amarrillo                           1
Cendre                              1
GRANITE CRYSTAL BC                  1
MARRON KODIAK                       1
blue                                1
BLACK MEET KETTLE                   1
GRAY                                1
Blanco Glaciar                      1
GRIS ARTENSE                        1
Cobre                               1
ROJO SUNSET METALIZADO              1
Name: count, dtype: int64
Cantidad de colores diferentes:
70

In [1182]:
#reemplazar GRAY, GRIS TITANE, GRIS LAQUE, GRIS PLATINO, GRIS SILVERSTONE, GRIS INDY, GRIS ESTRELLA, GRIS PLATA, GRIS SELENIUM,Gris oscuro por Gris
cleaned['Color'] = cleaned['Color'].replace(['GRAY','GRIS ARTENSE', 'GRIS TITANE','GRIS LAQUE', 'GRIS PLATINO', 'GRIS SILVERSTONE', 
                                              'GRIS INDY', 'GRANITE CRYSTAL BC', 'GRIS ESTRELLA', 'GRIS PLATA', 'GRIS SELENIUM', 'Gris oscuro'], 'Gris')


#reemplazar blue, steel_blue, Azul claro, Celeste por Azul
cleaned['Color'] = cleaned['Color'].replace(['blue', 'steel_blue', 'Azul claro', 'Celeste'], 'Azul')

#reemplazar, BLACK MEET KETTLE, NOIR PERLA NERA, NEGRA, CARBON BLACK, Negra, por Negro
cleaned['Color'] = cleaned['Color'].replace(['BLACK MEET KETTLE', 'NOIR PERLA NERA', 'NEGRA', 'CARBON BLACK', 'Negra'], 'Negro')

#reemplazar Blanco Glaciar, BLANCO BANCHISA BICOLOR NEGRO, BLANCO BANQUISE, BLANCO GLACIAR, SUMMIT WHITE, blanca, BLANCO NACRE TRICAPA, BLANCA, Blanca, por Blanco
cleaned['Color'] = cleaned['Color']. replace(['Blanco Glaciar', 'BLANCO BANCHISA BICOLOR NEGRO', 'BLANCO BANQUISE', 'BLANCO GLACIAR', 'SUMMIT WHITE','blanca', 'BLANCO NACRE TRICAPA',
                                                'BLANCA', 'Blanca'], 'Blanco' )

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [1183]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
pd.set_option('display.max_rows', 70) 
print(cleaned['Color'].value_counts())

#cantidad de colores
print("Cantidad de colores diferentes:")
print(cleaned['Color'].nunique())

Color
Gris                        5523
Blanco                      4826
Negro                       2834
Plateado                    1427
Azul                        1219
Rojo                        1118
Marrón                       253
Dorado                       190
Verde                        135
Beige                        125
Naranja                       73
Violeta                       33
Bordó                         29
Amarillo                      24
Rosa                           8
Plata                          7
Otro                           6
Acero                          4
Café                           3
Gris plata                     3
Verde oscuro                   2
MINERALWEISS METALLIC          2
PLATA                          2
Marrón oscuro                  2
Grafito                        2
Champaing                      1
Beige techo negro              1
SKYSCRAPER GRAU METALLIC       1
GRANITE CRYSTA BC              1
Morado oscuro                  1
PRATA BARI+TET VULC            1
MORADO                         1
PLATA BARI                     1
ROJO SUNSET METALIZADO         1
Marrón claro                   1
Amarrillo                      1
Cendre                         1
MARRON KODIAK                  1
Moundaz                        1
Cobre                          1
Name: count, dtype: int64
Cantidad de colores diferentes:
40

## hay que seguir con esta parte de color. Quizas hacer clustering?

In [1184]:
precio_dolar_ml = round(10000000/8300, 2)   
print(precio_dolar_ml)

1204.82

In [1185]:
#unifico precios

cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
mask_pesos = cleaned['Moneda'] == '$'
cleaned.loc[mask_pesos, 'Precio'] = round(
    cleaned.loc[mask_pesos, 'Precio'] / precio_dolar_ml
)

#drop columna de Moneda

cleaned = cleaned.drop(columns=['Moneda'])

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [1186]:
cleaned = pd.read_csv("pf_suvs_i302_1s2025_cleaned.csv")

#mostrar todos los tipos de combustible y cantidades
print("Tipos de combustible y cantidades:")
print(cleaned['Tipo de combustible'].value_counts())

Tipos de combustible y cantidades:
Tipo de combustible
Nafta            16067
Diésel            1328
Nafta/GNC          451
Híbrido/Nafta      269
Híbrido            105
GNC                 12
Eléctrico           12
Mild Hybrid         10
Name: count, dtype: int64

In [1187]:
# 1. Asegurarse que todo es string
cleaned['Kilómetros'] = cleaned['Kilómetros'].astype(str)

# 2. Eliminar 'km', espacios y puntos (como separador de miles)
cleaned['Kilómetros'] = cleaned['Kilómetros'].str.replace('km', '', regex=False)
cleaned['Kilómetros'] = cleaned['Kilómetros'].str.replace('.', '', regex=False)
cleaned['Kilómetros'] = cleaned['Kilómetros'].str.strip()

# 3. Convertir a numérico (float o int)
cleaned['Kilómetros'] = pd.to_numeric(cleaned['Kilómetros'], errors='coerce')

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [19]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
cajas = cleaned['Transmisión'].value_counts()
print("Tipos de caja y cantidades:")
print(cajas)

Tipos de caja y cantidades:
Transmisión
Automática               12281
Manual                    5834
Automática secuencial      123
Semiautomática               1
Name: count, dtype: int64