In [1]:
import pandas as pd
import numpy as np

dev = pd.read_csv('data/raw/pf_suvs_i302_1s2025.csv')
#drop la primera columna (INDEX)
dev = dev.drop(columns=['Unnamed: 0'])

#guardar el DataFrame en un archivo CSV
dev.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [2]:
#contar cantidad de valores diferentes por columna
print("Cantidad de valores diferentes por columna:")
print(dev.nunique())

Cantidad de valores diferentes por columna:
Marca                         47
Modelo                       137
Año                           40
Versión                     2072
Color                         70
Tipo de combustible            8
Puertas                        7
Transmisión                    4
Motor                        271
Tipo de carrocería             1
Con cámara de retroceso        2
Kilómetros                  2175
Título                      2220
Precio                      2914
Moneda                         2
Descripción                12142
Tipo de vendedor               3
dtype: int64

In [3]:
#cantidad de valores nulos por columna
print("\nCantidad de valores nulos por columna:")
print(dev.isnull().sum())

Cantidad de valores nulos por columna:
Marca                          0
Modelo                         0
Año                            0
Versión                        0
Color                        389
Tipo de combustible            0
Puertas                        0
Transmisión                   15
Motor                         38
Tipo de carrocería             0
Con cámara de retroceso    13563
Kilómetros                     0
Título                         0
Precio                         0
Moneda                         0
Descripción                    0
Tipo de vendedor               0
dtype: int64

In [4]:
#borrar columna 'Tipo de carrocería' (TODAS TIENEN EL MISMO VALOR)
dev = dev.drop(columns=['Tipo de carrocería'])

#guardar el DataFrame actualizado en un nuevo archivo CSV
dev.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

## Limpieza de Marcas

In [5]:
#cantidad de vehiculos por marca
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
print("Cantidad de vehículos por marca:")
print(cleaned['Marca'].value_counts())

Cantidad de vehículos por marca:
Marca
Ford              2161
Jeep              2050
Volkswagen        2037
Chevrolet         1750
Renault           1491
Toyota            1260
Peugeot           1250
Nissan            1059
Citroën            721
BMW                672
Honda              597
Hyundai            568
Audi               529
Fiat               366
Chery              344
Kia                290
Mercedes-Benz      282
Dodge              185
BAIC               165
Suzuki              76
Porsche             67
Land Rover          64
Mitsubishi          47
Volvo               38
SsangYong           30
D.S.                27
Alfa Romeo          25
JAC                 19
Jetour              14
Haval                9
GWM                  9
Isuzu                8
Lifan                7
Lexus                7
Subaru               5
D·S                  4
Daihatsu             4
Mini                 3
Hiunday              2
KAIYI                2
Range Rover          2
DS AUTOMOBILES       2
Jaguar               2
Rrenault             1
Jetur                1
hiunday              1
Vol                  1
Name: count, dtype: int64

In [6]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
from preprocessing import corregir_marcas
cleaned = corregir_marcas(cleaned)


cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

print(cleaned['Marca'].value_counts())

Marca
Ford             2161
Jeep             2050
Volkswagen       2038
Chevrolet        1750
Renault          1492
Toyota           1260
Peugeot          1250
Nissan           1059
Citroën           721
BMW               672
Honda             597
Hyundai           571
Audi              529
Fiat              366
Chery             344
Kia               290
Mercedes-Benz     282
Dodge             185
BAIC              165
Suzuki             76
Porsche            67
Land Rover         66
Mitsubishi         47
Volvo              38
D.S.               33
SsangYong          30
Alfa Romeo         25
JAC                19
Jetour             15
Haval               9
GWM                 9
Isuzu               8
Lifan               7
Lexus               7
Subaru              5
Daihatsu            4
Mini                3
KAIYI               2
Jaguar              2
Name: count, dtype: int64

## Limpieza de modelo

In [7]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
pd.set_option('display.max_rows', 140) 
#ordenados en orden alfabetico
print("Cantidad de vehículos por marca ordenados alfabéticamente:")
print(cleaned['Modelo'].value_counts().sort_index())
#cantidad de modelos diferentes
print("Cantidad de modelos diferentes:")
print(cleaned['Modelo'].nunique())

Cantidad de vehículos por marca ordenados alfabéticamente:
Modelo
2008                 1144
208                     2
3008                  100
4008                    4
4Runner                 6
500X                   25
Actyon                  7
Blazer                 21
Bronco                  4
Bronco Sport          117
C3                      5
C3 Aircross           228
C4 Aircross             2
C4 Cactus             453
C5 Aircross            33
CR-V                  246
Captur                229
Cayenne                43
Cherokee               42
Clase GL                2
Clase GLA              84
Clase GLC             104
Clase GLE              39
Clase GLK              29
Clase ML               18
Commander             117
Compass               916
Cooper Countryman       3
Corolla Cross         482
Creta                  69
DS3                     2
DS7                    10
DS7 Crossback          21
Defender                2
Discovery               9
Duster               1048
Duster Oroch          109
Ecosport             1569
Equinox                36
Evoque                 28
Explorer               14
F-PACE                  2
Freelander              3
Galloper                7
Grand Blazer            2
Grand Cherokee        193
Grand Santa Fé          3
Grand Vitara           47
H6                     11
HR-V                  339
Hilux SW4             322
Jimny                  13
Jolion                  7
Journey               185
Kicks                 913
Koleos                100
Kona                    4
Kuga                  177
Land Cruiser           53
ML                      6
Macan                  22
Mohave                  2
Montero                20
Murano                 20
Musso                  23
Myway                   4
NX                      3
Nativa                  2
Nivus                 436
Outback                 5
Outlander              25
Panamera                2
Pathfinder             13
Patriot                30
Pilot                  12
Pulse                 341
Q2                     65
Q3                    114
Q3 Sportback           41
Q5                    196
Q7                     56
Q8                     25
RAV4                  173
Range Rover             6
Range Rover Sport      18
Renegade              643
S2                     19
SQ5                     8
SW4                   224
Samurai                 2
Sandero                 2
Sandero Stepway         4
Santa Fe               71
Seltos                 19
Serie 4                 5
Sorento                77
Soul                   82
Spin                   33
Sportage              110
Stelvio                25
T-Cross               540
Taos                  687
Terios                  4
Terrano II              2
Territory             280
Tiggo                 145
Tiggo 2                30
Tiggo 3               104
Tiggo 4                 2
Tiggo 4 Pro            31
Tiggo 5                30
Tiggo 8 Pro             2
Tiguan                211
Tiguan Allspace       147
Touareg                17
Tracker              1511
Trailblazer           139
Trooper                 8
Tucson                417
UX                      4
Vitara                 22
Wrangler              109
X-Terra                36
X-Trail                75
X1                    264
X2                     40
X25                     2
X3                     94
X35                    57
X4                     46
X5                     75
X55                   106
X6                    150
X70                    18
XC40                    5
XC60                   33
q5 sportback           24
Name: count, dtype: int64
Cantidad de modelos diferentes:
137

In [8]:
from preprocessing import corregir_modelo

cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

cleaned = corregir_modelo(cleaned)

print(cleaned['Modelo'].value_counts())

#cantidad de modelos diferentes
print("Cantidad de modelos diferentes después de la limpieza:")
print(cleaned['Modelo'].nunique())

Modelo
Ecosport             1569
Tracker              1511
2008                 1146
Duster               1048
Compass               916
Kicks                 913
Taos                  687
Renegade              643
Otros                 541
T-Cross               540
Corolla Cross         482
C4 Cactus             453
Tucson                417
Pulse                 341
Hr-V                  339
Hilux Sw4             322
Territory             280
X1                    264
Cr-V                  246
Captur                229
C3 Aircross           228
Sw4                   224
Tiguan                211
Q5                    196
Grand Cherokee        193
Journey               185
Kuga                  177
Rav4                  173
X6                    150
Tiguan Allspace       147
Tiggo                 145
Trailblazer           139
Commander             117
Bronco Sport          117
Q3                    114
Sportage              110
Wrangler              109
Duster Oroch          109
X55                   106
Tiggo 3               104
Clase Glc             104
3008                  100
Koleos                100
X3                     92
Clase Gla              84
Soul                   82
Sorento                77
X-Trail                75
X5                     75
Santa Fe               71
Creta                  69
Q2                     65
Q7                     56
Land Cruiser           53
X4                     46
Cayenne                43
Cherokee               42
Q3 Sportback           41
X2                     40
Grand Vitara           39
Clase Gle              39
Equinox                36
X-Terra                36
Xc60                   33
Spin                   33
C5 Aircross            33
Tiggo 4 Pro            31
Tiggo 2                30
Patriot                30
Tiggo 5                30
Clase Glk              29
Evoque                 28
Q8                     25
Stelvio                25
500X                   25
Outlander              25
Q5 Sportback           24
Musso                  23
Vitara                 22
Macan                  22
Ds7 Crossback          21
Blazer                 21
Montero                20
Murano                 20
Seltos                 19
Clase Ml               18
Range Rover Sport      18
Touareg                17
X70                    15
Explorer               14
Pathfinder             13
Jimny                  13
Pilot                  12
Ds7                    10
Discovery               9
Sq5                     8
Trooper                 8
Actyon                  7
Galloper                7
4Runner                 6
Ml                      6
Range Rover             6
Serie 4                 5
C3                      5
Xc40                    5
Outback                 5
Kona                    4
4008                    4
Ux                      4
Myway                   4
Bronco                  4
Jolion                  4
Terios                  4
Sandero Stepway         4
Freelander              3
Nx                      3
Grand Santa Fé          3
Cooper Countryman       3
Tiggo 8 Pro             2
Mohave                  2
Ds3                     2
Clase Gl                2
Panamera                2
Defender                2
X25                     2
Grand Blazer            2
Tiggo 4                 2
Nativa                  2
Samurai                 2
C4 Aircross             2
Terrano Ii              2
F-Pace                  2
Name: count, dtype: int64
Cantidad de modelos diferentes después de la limpieza:
132

## Limpieza de Versión y extracción de nuevas features

In [9]:
from preprocessing import extraer_hp, extraer_transmision, extraer_traccion
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
cleaned = extraer_hp(cleaned)

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

#cantidad de valores nulos en la columna 'HP'
print("Cantidad de valores nulos en la columna 'HP':")
print(cleaned['HP'].isnull().sum())

Cantidad de valores nulos en la columna 'HP':
12960

In [10]:
cleaned =  pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
cleaned = extraer_transmision(cleaned)


cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

#cantidad de valores nulos en la columna 'Transmision'
print("Cantidad de valores nulos en la columna 'Transmisión':")
print(cleaned['Transmisión'].isnull().sum())

print(cleaned['Transmisión'].value_counts())

Cantidad de valores nulos en la columna 'Transmisión':
9
Transmisión
AUTOMÁTICA    12407
MANUAL         5802
CLASH            36
Name: count, dtype: int64

In [11]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

cleaned = extraer_traccion(cleaned)

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)
#cantidad de valores nulos en la columna 'Traccion'
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
print("Cantidad de valores nulos en la columna 'Traccion':")
print(cleaned['Tracción'].isnull().sum())
print(cleaned['Tracción'].value_counts())

Cantidad de valores nulos en la columna 'Traccion':
11247
Tracción
4x2    3885
4x4    3122
Name: count, dtype: int64

In [12]:
from preprocessing import limpiar_version

#cantidad de versiones diferentes

print("Cantidad de versiones diferentes antes de limpieza:")
print(cleaned['Versión'].nunique())

cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
cleaned = limpiar_version(cleaned)

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

print("Cantidad de versiones diferentes despues de limpieza:")
print(cleaned['Versión'].nunique())

Cantidad de versiones diferentes antes de limpieza:
2072
Cantidad de versiones diferentes despues de limpieza:
1197

## Limpieza de Motor

### Buscaría reemplazar esta columna por cilindrada del motor solamente. Hay muchas cosas como naftero, turbo, etc que no son tan relevntes como la cilindrada. Muchas cosas que tienen que ver con el tipo de combustible (que ya hay una columna para eso)

In [13]:
from preprocessing import limpiar_motor
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

cleaned = limpiar_motor(cleaned)

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

#cantidad de valores nulos en la columna 'Motor'
print("Cantidad de valores nulos en la columna 'Motor':")
print(cleaned['Motor'].isnull().sum())

Cantidad de valores nulos en la columna 'Motor':
82

### habria que ver si seguir refinando la funcion o si se reemplazan esos faltantes por una media o si se borran.

## Limpieza de Tipo de combustible

In [14]:
from preprocessing import revisar_tipos_combustible
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

#valores diferentes en la columna 'Tipo de combustible'
print("Valores diferentes en la columna 'Tipo de combustible':")
print(cleaned['Tipo de combustible'].value_counts())

cleaned = revisar_tipos_combustible(cleaned)

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)
print(cleaned['Tipo de combustible'].value_counts())

Valores diferentes en la columna 'Tipo de combustible':
Tipo de combustible
Nafta            16067
Diésel            1328
Nafta/GNC          451
Híbrido/Nafta      269
Híbrido            105
GNC                 12
Eléctrico           12
Mild Hybrid         10
Name: count, dtype: int64
Tipo de combustible
Nafta        16681
Diésel        1185
Híbrido        316
Nafta/GNC       65
Eléctrico        7
Name: count, dtype: int64

## Limpieza de precio

### en la pagina de mercado libre figura que 15.000.000 pesos son 12.000 dolares, asi que usamos ese valor para la conversión.

In [15]:

from preprocessing import convertir_pesos_a_dolares
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

#valores diferentes en la columna moneda
print("Valores diferentes en la columna 'Moneda':")
print(cleaned['Moneda'].unique())

cleaned = convertir_pesos_a_dolares(cleaned)


#elimino la columna 'Moneda' ya que no es necesaria
cleaned = cleaned.drop(columns=['Moneda'])


cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

Valores diferentes en la columna 'Moneda':
['$' 'US$']

In [16]:
#valores diferentes en cada columna
print("Valores diferentes en cada columna:")
print(cleaned.nunique())


#cantidad de valores nulos en cada columna
print("\nCantidad de valores nulos en cada columna:")
print(cleaned.isnull().sum())

Valores diferentes en cada columna:
Marca                         39
Modelo                       137
Año                           40
Versión                     1196
Color                         70
Tipo de combustible            5
Puertas                        7
Transmisión                    3
Motor                         41
Con cámara de retroceso        2
Kilómetros                  2175
Título                      2220
Precio                      2430
Descripción                12142
Tipo de vendedor               3
HP                           102
Tracción                       2
Versión_prev                2072
Tipo original                  5
dtype: int64

Cantidad de valores nulos en cada columna:
Marca                          0
Modelo                         0
Año                            0
Versión                      271
Color                        389
Tipo de combustible            0
Puertas                        0
Transmisión                    9
Motor                         82
Con cámara de retroceso    13563
Kilómetros                     0
Título                         0
Precio                         0
Descripción                    0
Tipo de vendedor               0
HP                         12960
Tracción                   11247
Versión_prev                   0
Tipo original                  0
dtype: int64

## Limpieza de Puertas

In [ ]:

#cantidad de vehiculos con cada cantidad de puertas
print("Cantidad de vehículos con cada cantidad de puertas:")
print(dev['Puertas'].value_counts())

In [ ]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
#reemplzar los valores 60252 en puertas por 5
cleaned['Puertas'] = cleaned['Puertas'].replace(60252, 5)

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [ ]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
dev[dev['Puertas'] == 7]

cleaned['Puertas'] = cleaned['Puertas'].replace(7, 5)
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [ ]:

dev[dev['Puertas'] == 6]

In [ ]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
cleaned['Puertas'] = cleaned['Puertas'].replace(6, 5)
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [ ]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

cleaned[cleaned['Puertas'] == 2]

In [ ]:
# en la fila 7240, 8093 y 11246, reemplazamos el 2 en Puertas por 5 (FIGURAN COMO COUPE PERO LA IMAGEN MARCA QUE SON DE 5 PUERTAS)
#mostrar las filas 7240, 8093 y 11246

print("Filas 7240, 8093 y 11246:")
print(cleaned.iloc[[7240, 8093, 11246]])

#en estas filas reemplazamos el 2 por 5
cleaned.loc[[7240, 8093, 11246], 'Puertas'] = 5
#guardar el DataFrame actualizado en un nuevo archivo CSV
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [ ]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

cleaned[cleaned['Puertas'] == 2]

In [ ]:
#reemplazar los valores 2 en puertas por 3
cleaned['Puertas'] = cleaned['Puertas'].replace(2, 3)
#guardar el DataFrame actualizado en un nuevo archivo CSV
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [ ]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

#mostrar cantidad de elementos por cada valor de la columna 'Puertas'
print("Cantidad de vehículos con cada cantidad de puertas:")
print(cleaned['Puertas'].value_counts())

In [ ]:
# busco valores de 4 puertas
print("Cantidad de vehículos con 4 puertas:")
print(cleaned[cleaned['Puertas'] == 4].shape[0])

#imprimo random 5 vehiculos con 4 puertas
print("5 vehículos con 4 puertas:")
print(cleaned[cleaned['Puertas'] == 4].sample(3))

# No existen vehículos con 4 puertas, por lo que hay un error en los datos. Pareciera que los vehículos con 4 puertas son en realidad vehículos con 5 puertas pero no podemos estar seguros.
# Primero voy a buscar si existe otra publicacion de la misma marca y modelo con con 5 puertas
#voy por cada vehiculo con 4 puertas y busco si existe otro igual con 5 puertas si existe cambio el valor de 4 por 5, hay algunos casos que no consideran la caja como puerta. nosotros si lo hacemos
# CASOS RAROS: PORSCHE PANAMERA, JEEP WRANGLER (si dice UNLIMITED tiene 5 puertas si no dice 3 puertas), TODAS LAS OROCH tienen 5 puertas
i = 0
i2 = 0
for index, row in cleaned[cleaned['Puertas'] == 4].iterrows():
    marca = row['Marca']
    modelo = row['Modelo']
    version = row['Versión']
    
    if marca == 'Porsche' and modelo =='Panamera':
        i+= 1
        cleaned.at[index, 'Puertas'] = 5
        continue
    if marca == 'Jeep' and modelo == 'Wrangler':
        if 'Unlimited' in version:
            i += 1
            cleaned.at[index, 'Puertas'] = 5
            continue
        else:
            i2 += 1
            cleaned.at[index, 'Puertas'] = 3
            continue
    if marca == 'Renault' and modelo == 'Duster Oroch':
        i += 1
        cleaned.at[index, 'Puertas'] = 5
        continue
    #busco si existe otro vehiculo con la misma marca, modelo y version pero con 5 puertas
    if cleaned[(cleaned['Marca'] == marca) & (cleaned['Modelo'] == modelo) & (cleaned['Versión'] == version) & (cleaned['Puertas'] == 5)].shape[0] > 0:
        i += 1
        # print(f"Vehículo con 4 puertas encontrado: {marca} {modelo} {version} en el índice {index}. Cambiando a 5 puertas.")
        cleaned.at[index, 'Puertas'] = 5

    #hago lo mismo pero con 3 puertas
    elif cleaned[(cleaned['Marca'] == marca) & (cleaned['Modelo'] == modelo) & (cleaned['Versión'] == version) & (cleaned['Puertas'] == 3)].shape[0] > 0:
        i2 += 1
        # print(f"Vehículo con 4 puertas encontrado: {marca} {modelo} {version} en el índice {index}. Cambiando a 5 puertas.")
        print(f"Vehículo con 4 puertas encontrado: {marca} {modelo} {version} en el índice {index}. Cambiando a 3 puertas.")
        cleaned.at[index, 'Puertas'] = 3


print("Cantidad de vehículos con 4 puertas:")
print(cleaned[cleaned['Puertas'] == 4].shape[0])
print(f"Total de vehículos con 4 puertas cambiados a 5: {i}")
print(f"Total de vehículos con 4 puertas cambiados a 3: {i2}")

In [ ]:
### sigo analizando casos raros de 4 puertas
# marcas restantes con 4 puertas
print("Marcas restantes con 4 puertas: con sus respectivos modelos")


# de los restantes, Los Volkswagen tienen 5 puertas, duster 5, jeep 5, ford 5, mercedes 5, honda 5, hiunday 5, hyunday 5, chevrolet 5, fiat 5, peugeot 5, bmw 5, citroen 5, kia 5, 
marcas_5p = ['Volkswagen', 'Jeep', 'Ford', 'Mercedes-Benz', 'Honda', 'Hiunday','Hyundai', 'Chevrolet', 'Fiat', 'Peugeot', 'BMW', 'Citroën', 'Kia', 'Renault', 'Toyota', 'Jetur', 'Alfa Romeo', 'Nissan', 'Audi', 'D.S.', 'Porsche', 'BAIC', "Chery"]
for index, row in cleaned[cleaned['Puertas'] == 4].iterrows():
    marca = row['Marca']
    modelo = row['Modelo']
    version = row['Versión']
    
    if marca in marcas_5p: 
        cleaned.at[index, 'Puertas'] = 5

        
print(cleaned[cleaned['Puertas'] == 4][['Marca', 'Modelo']].drop_duplicates())
print("Total de casos por analizar:", cleaned[cleaned['Puertas'] == 4][['Marca', 'Modelo']].drop_duplicates().shape[0])

# guardo el DataFrame actualizado en un nuevo archivo CSV
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

print("Cantidad de vehiculos por puertas:")
print(cleaned['Puertas'].value_counts())

## despues hay que seguir viendo tema autos de 4 puertas lo hago despues

In [ ]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
print("Cantidad de valores diferentes por columna:")
print(cleaned.nunique())

In [ ]:
cleaned['Año'].value_counts()

In [ ]:
#reemplazar 436694.0 por 2017
cleaned['Año'] = cleaned['Año'].replace(436694.0, 2017)
cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [ ]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')

pd.set_option('display.max_rows', 70) 
print(cleaned['Color'].value_counts())

print("Cantidad de colores diferentes:")
print(cleaned['Color'].nunique())

In [ ]:
#reemplazar GRAY, GRIS TITANE, GRIS LAQUE, GRIS PLATINO, GRIS SILVERSTONE, GRIS INDY, GRIS ESTRELLA, GRIS PLATA, GRIS SELENIUM,Gris oscuro por Gris
cleaned['Color'] = cleaned['Color'].replace(['GRAY','GRIS ARTENSE', 'GRIS TITANE','GRIS LAQUE', 'GRIS PLATINO', 'GRIS SILVERSTONE', 
                                              'GRIS INDY', 'GRANITE CRYSTAL BC', 'GRIS ESTRELLA', 'GRIS PLATA', 'GRIS SELENIUM', 'Gris oscuro'], 'Gris')


#reemplazar blue, steel_blue, Azul claro, Celeste por Azul
cleaned['Color'] = cleaned['Color'].replace(['blue', 'steel_blue', 'Azul claro', 'Celeste'], 'Azul')

#reemplazar, BLACK MEET KETTLE, NOIR PERLA NERA, NEGRA, CARBON BLACK, Negra, por Negro
cleaned['Color'] = cleaned['Color'].replace(['BLACK MEET KETTLE', 'NOIR PERLA NERA', 'NEGRA', 'CARBON BLACK', 'Negra'], 'Negro')

#reemplazar Blanco Glaciar, BLANCO BANCHISA BICOLOR NEGRO, BLANCO BANQUISE, BLANCO GLACIAR, SUMMIT WHITE, blanca, BLANCO NACRE TRICAPA, BLANCA, Blanca, por Blanco
cleaned['Color'] = cleaned['Color']. replace(['Blanco Glaciar', 'BLANCO BANCHISA BICOLOR NEGRO', 'BLANCO BANQUISE', 'BLANCO GLACIAR', 'SUMMIT WHITE','blanca', 'BLANCO NACRE TRICAPA',
                                                'BLANCA', 'Blanca'], 'Blanco' )

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [ ]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
pd.set_option('display.max_rows', 70) 
print(cleaned['Color'].value_counts())

#cantidad de colores
print("Cantidad de colores diferentes:")
print(cleaned['Color'].nunique())

## hay que seguir con esta parte de color. Quizas hacer clustering?

In [ ]:
precio_dolar_ml = round(10000000/8300, 2)   
print(precio_dolar_ml)

In [ ]:
#unifico precios

cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
mask_pesos = cleaned['Moneda'] == '$'
cleaned.loc[mask_pesos, 'Precio'] = round(
    cleaned.loc[mask_pesos, 'Precio'] / precio_dolar_ml
)

#drop columna de Moneda

cleaned = cleaned.drop(columns=['Moneda'])

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [ ]:
cleaned = pd.read_csv("pf_suvs_i302_1s2025_cleaned.csv")

#mostrar todos los tipos de combustible y cantidades
print("Tipos de combustible y cantidades:")
print(cleaned['Tipo de combustible'].value_counts())

In [ ]:
# 1. Asegurarse que todo es string
cleaned['Kilómetros'] = cleaned['Kilómetros'].astype(str)

# 2. Eliminar 'km', espacios y puntos (como separador de miles)
cleaned['Kilómetros'] = cleaned['Kilómetros'].str.replace('km', '', regex=False)
cleaned['Kilómetros'] = cleaned['Kilómetros'].str.replace('.', '', regex=False)
cleaned['Kilómetros'] = cleaned['Kilómetros'].str.strip()

# 3. Convertir a numérico (float o int)
cleaned['Kilómetros'] = pd.to_numeric(cleaned['Kilómetros'], errors='coerce')

cleaned.to_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv', index=False)

In [ ]:
cleaned = pd.read_csv('data/processed/pf_suvs_i302_1s2025_cleaned.csv')
cajas = cleaned['Transmisión'].value_counts()
print("Tipos de caja y cantidades:")
print(cajas)